[Unit]
After=network-online.target
Description=Peercoin daemon
Documentation=https://github.com/captainbuckkets/peercoin-ord/blob/master/doc/init.md
Wants=network-online.target

[Service]
ConfigurationDirectory=peercoin
ConfigurationDirectoryMode=0710
ExecStart=/usr/local/bin/peercoind \
  -conf=/etc/peercoin/peercoin.conf \
  -chain=${CHAIN}
ExecStartPre=/bin/chgrp peercoin /etc/peercoin
Group=peercoin
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PermissionsStartOnly=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RuntimeDirectory=peercoind
RuntimeDirectoryMode=0710
StateDirectory=peercoind
StateDirectoryMode=0710
TimeoutStartSec=infinity
TimeoutStopSec=600
Type=simple
User=peercoin

[Install]
WantedBy=multi-user.target
